@font-face {
	font-family: "Lato";
	src:
		url(public/fonts/Lato/Light/Lato-Light.woff2) format(woff2),
		url(public/fonts/Lato/Light/Lato-Light.woff) format(woff);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src:
		url(public/fonts/Lato/Latobold/Lato-Bold.woff2) format(woff2),
		url(public/fonts/Lato/Latobold/Lato-Bold.woff) format(woff);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src:
		url(public/fonts/Lato/Regular/Lato-Regular.woff2) format(woff2),
		url(public/fonts/Lato/Regular/Lato-Regular.woff) format(woff);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src:
		url(public/fonts/Lato/Latoextrabold/Lato-Black.woff2) format(woff2),
		url(public/fonts/Lato/Latoextrabold/Lato-Black.woff) format(woff);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--first-family: "Lato", sans-serif;
}

:root {
	--white: #fff;
	--primary: #ff3f3a;
	--secondary: #ffcf2d;
	--success: #03cea4;
	--danger: #ff4242;
	--warning: #f89828;
	--info: #5a87fc;
	--gray-900: #1e212c;
	--gray-800: #424551;
	--gray-700: #787a80;
	--gray-600: #9a9ca5;
	--gray-500: #b3b7bc;
	--gray-400: #d7dadd;
	--gray-300: #e5e8ed;
	--gray-200: #f4f5f6;
}

body {
	font-family: var(--first-family);
	font-weight: 400;
}

.nav__bar {
	background-image: url(public/images/background.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1080px;
}

.container {
	max-width: 1270px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
}

.nav__bar-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.logo__nav {
	display: flex;
	align-items: center;
}

.nav {
	margin-left: 60px;
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 0 40px;
	color: var(--gray-800);
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
}

.container__user-block {
	display: flex;
	align-items: center;
	gap: 0 36px;
}

.user__consultation {
	width: 206px;
	height: 52px;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	font-family: var(--first-family);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--white);
}

.user__container-register {
	display: flex;
	align-items: center;
	gap: 0 9px;
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-800);
}

.header {
	margin-top: 151px;
}

#header__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner {
	display: flex;
	flex-direction: column;
}

.play__video {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
}

.img__small-hover {
	width: 52px;
	height: 52px;
	border: 0 solid var(--primary);
	transition: border 0.3s;
	border-radius: 100%;
}

.img__small-hover:hover {
	border: 84px solid var(--primary);
	opacity: 0.12;
	/* transition: border .3s; */
}

.play__video {
	display: flex;
	align-items: center;
}

.text__play {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-900);
}

.text__header {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: var(--gray-900);
	max-width: 496px;
}

.btn__container-header {
	margin-top: 60px;
	display: flex;
	align-items: center;
	gap: 0 24px;
}

.about__courses {
	width: 148px;
	height: 52px;
	border-radius: 4px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	text-align: center;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	background-clip: text;
	mask-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: hover 0.5s 3s ease-in-out;
}

.about__courses::before {
	border: none;
	border-radius: 4px;
	color: var(--white);
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 4px;
	padding: 1px;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
}

.about__courses:hover {
	border: none;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
	color: var(--white);
}

.explore {
	width: 200px;
	height: 52px;
	border-radius: 4px;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--white);
}

.container__statistics-header {
	margin-top: 188px;
}

.statistic__header-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.statistic__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.statistics__indicators {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	text-align: center;
	color: var(--gray-900);
	margin-right: 12px;
}

.name__statistics-indicators {
	font-family: var(--first-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-900);
}

.circle__indicator {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: space-between;
	margin-left: 66px;
	margin-right: 66px;
	width: 8px;
	height: 8px;
	background: var(--primary);
	border-radius: 9999px;
	border: none;
}

#main__course-information {
	margin-top: 241px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__information {
	display: flex;
	flex-direction: column;
}

.heading__title-small {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--gray-900);
	margin-bottom: 8px;
}

.heading__title-big {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: var(--gray-900);
	margin-bottom: 48px;
}

.text__course-offer {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	max-width: 600px;
	color: var(--gray-900);
	margin-bottom: 24px;
}

.text__offer {
	font-family: var(--first-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	max-width: 600px;
	color: var(--gray-800);
}

.btn__container-main {
	display: flex;
	align-items: center;
	gap: 0 24px;
	margin-top: 60px;
}

.btn__events {
	width: 192px;
	height: 52px;
	padding: 0 40px;
	border-radius: none;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	text-align: center;
	background-clip: text;
	mask-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn__events::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 4px;
	padding: 1px;
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
}

.view__btn {
	width: 192px;
	height: 52px;
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--white);
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
}

#video__course {
	margin-top: 179px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.video__course-item {
	display: flex;
	align-items: center;
	gap: 0 16px;
}

.text__course-brief--information {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 48px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: var(--primary);
}

.text__course-information {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: var(--gray-900);
}

#field__of-study {
	position: relative;
	margin-top: 123px;
}

.title__img {
	position: absolute;
	left: 129px;
	z-index: -2;
}

.container__heading-title {
	margin-inline: auto;
}

.title__small {
	text-align: center;
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--gray-900);
}

.title__big {
	text-align: center;
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: var(--gray-900);
}

.list__of-activities {
	margin-top: 90px;
	display: flex;
	align-items: center;
	gap: 0 53px;
	margin-bottom: 57px;
}

.list__of-activities-item a {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-600);
	text-align: center;
	border: none;
	padding: 1px 8px;
	position: relative;
}

.list__of-activities-item a::before {
	content: "";
	position: absolute;
	inset: 0;
	border: 1px solid var(--gray-600);
	border-radius: 4px;
}

.list__of-activities-item a:active {
	background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	border-radius: 4px;
	color: var(--white);
}

.list__of-activities-item a:active::before {
	content: "";
	position: absolute;
	inset: 0;
	border: none;
}

.view__courses-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 54px 30px;
}

.view__courses-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 25px 0;
}

.view__courses-item:nth-child(6) {
	margin-top: 164px;
	margin-left: 104px;
}

.view__courses-text {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: var(--gray-800);
	text-align: center;
	max-width: 242px;
}

.branch {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--white);
	width: 90px;
	height: 28px;
	background: var(--success);
	border: none;
	border-radius: 4px;
	padding: 1px, 8px;
	text-align: center;
	margin-bottom: 21px;
}

.branch-2 {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--white);
	text-align: center;
	width: 110px;
	height: 28px;
	background: var(--info);
	border: none;
	border-radius: 4px;
	padding: 1px, 8px;
	margin-bottom: 21px;
}

.branch-3 {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--white);
	text-align: center;
	width: 127px;
	height: 28px;
	background: var(--warning);
	border: none;
	border-radius: 4px;
	padding: 1px, 8px;
	margin-bottom: 21px;
}

.branch-4 {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--white);
	text-align: center;
	width: 66px;
	height: 28px;
	background: #f52f6e;
	border: none;
	border-radius: 4px;
	padding: 1px, 8px;
	margin-bottom: 21px;
}

.branch-5 {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--white);
	text-align: center;
	width: 113px;
	height: 28px;
	background: #7772f1;
	border: none;
	border-radius: 4px;
	padding: 1px, 8px;
	margin-bottom: 21px;
}

.brief__introduction {
	font-family: var(--first-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-700);
	max-width: 342px;
	margin-bottom: 20px;
}

.container__description-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 11px;
}

.description__link {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-900);
	text-align: center;
}

.description__link:hover {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--primary);
}

#course__certificate {
	position: relative;
	margin-top: 202px;
}

.bg__certificate {
	position: absolute;
	left: 112px;
	z-index: -2;
	width: 60px;
	height: 60px;
}

.container__img-certificate {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__certificate-description {
	position: relative;
}

.img__certificate {
	width: 705px;
	height: 500px;
	position: absolute;
	right: 345px;
	z-index: -2;
}

.small__title-certificate {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--gray-900);
	margin-bottom: 8px;
}

.big__title-certificate {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: var(--gray-900);
	max-width: 392px;
	margin-bottom: 48px;
}

.text__certificate {
	font-family: var(--first-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--gray-800);
	max-width: 390px;
}

.certificate__logo-list {
	display: flex;
	align-items: center;
	gap: 0 26px;
	margin-top: 32px;
}

#team__profiles {
	margin-top: 120px;
}

.container__btn-title {
	display: flex;
	align-items: center;
	gap: 0 15px;
}

.profile__img-button {
	width: 18px;
	height: 11px;
	object-fit: cover;
}

.come__back-forward {
	width: 48px;
	height: 48px;
	border-radius: 99999px;
	cursor: pointer;
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-inline: auto 0;*/
}

.title__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__title-profile {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.small__title-profile {
	font-family: var(--first-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: var(--gray-900);
}

.big__title-profile {
	font-family: var(--first-family);
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	text-align: center;
	color: var(--gray-900);
}

.team__profile-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 30px;
	margin-top: 60px;
}

.img__profile {
	width: 245px;
	height: 320px;
	z-index: 2;
	/*display: hidden;*/
}

.bg__img-profile {
	width: 285px;
	height: 340px;
	background: var(--secondary);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	z-index: 1;
}

.bg__img-profile:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
	z-index: 3;
	background: linear-gradient(
		180deg,
		rgba(30, 33, 44, 0) 43.9%,
		rgba(30, 33, 44, 0.03) 55.21%,
		rgba(30, 33, 44, 0.33) 68.73%,
		rgba(30, 33, 44, 0.56) 76.17%,
		rgba(30, 33, 44, 0.77) 83.75%,
		rgba(30, 33, 44, 0.92) 91.49%,
		#1e212c 100%
	);
	opacity: 0;
	transition:
		opacity,
		0.3s ease;
		/*display: hidden;*/
}

.bg__img-profile:hover::before {
	opacity: 1;	
}	


.bg__img-profile .img__socials {
	display: hidden;
	z-index: 4;
	/*width: 20px;
	height: 20px;*/
	position: relative;
}

.bg__img-profile .img__socials:hover::before {
	content: "";
	z-index: 5;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 181px;
	/*width: 100%;
	height: 100%;*/
	cursor: pointer;
	background: var(--white);
}

 /*.container__img-socials .img__socials:hover::before  {
	content: "";
	z-index: 5;
	display: hidden;
	position: absolute;
	bottom: 20px;
	left: 181px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: var(--white);
}*/
